.populares{
padding: 3rem 2rem;
}

.populares__conteudo{
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1rem 0;
}

.populares__card{
    display: grid;
    width: calc(20% - 1rem);
    margin-right: 1rem;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 160px auto;
    background-color: #fdfdfd;
}

.populares__card:last-child{
    margin-right: 0;
}

.populares__card___imagem{
    grid-area: card-imagem;
    width: 100%;
    height: 100%;
}

.populares__card___corpo{
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas:
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .57rem;
}

.populares__card___titulo{
    font-size: 1.5rem;
    color: #333;
}

.populares__card___data{
    font-size: .9rem;
    color: #808080;
}

.populares__card___descricao{
    text-align: justify;
    line-height: 1.4;
    margin: 1rem 0;
    color: #333;
}

.populares__titulo{
    font-weight: 500;
}

.populares__icone{
    margin-right: .25rem;
}

.populares__cabecalho{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
}

.populares__botao{
    border: none;
    background-color: transparent;
    color: #333;
}